
@{
    ViewBag.Title = "CategoryDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
    <section class="admin-content ">
        <div class="bg-dark bg-dots m-b-30">
            <div class="container">
                <div class="row p-b-60 p-t-60">
                    <div class="col-lg-8 text-center mx-auto text-white p-b-30">
                        <div class="m-b-10">
                            <div class="avatar avatar-lg ">
                                <h1 class="mdi mdi-format-list-bulleted-type"></h1>
                            </div>
                        </div>
                        <h4>Category Details</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="card py-3 m-b-30">
            <div class="card-body">
                <h3 class="">Category Info</h3>
                <br />
                <p class="m-b-0 text-muted">
                    <button class="btn btn-sm m-b-15 ml-2 mr-2 btn-success">Add New Category</button>
                </p>

                <div class="card-body">
                    <p class="text-muted">Use right click to Add,Delete,Edit or Rename SubCategory</p>
                    <div id="jstree-03">

                        <!-- in this example the tree is populated from inline HTML -->
                        <ul>
                            <li>
                                Wedding
                                <ul>
                                    <li id="child_node_1">Engagement</li>
                                    <li>Pre-Wedding</li>
                                    <li>Destination-Wedding</li>
                                </ul>
                            </li>
                            <li>
                                Parties
                                <ul>
                                    <li id="child_node_1">Birthday Party</li>
                                    <li>Bachelor Party</li>
                                    <li>Theme Party</li>
                                </ul>
                            </li>
                            <li>
                                Babies and Kids
                                <ul>
                                    <li id="child_node_1">Baby Shower</li>
                                    <li>Babies 1st Birthday</li>
                                    <li>Babies Photoshoot</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>

