@{
    ViewBag.Title = "ClientDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="bg-dark bg-dots m-b-30">
        <div class="container">
            <div class="row p-b-60 p-t-60">

                <div class="col-lg-8 text-center mx-auto text-white p-b-30">
                    <div class="m-b-10">
                        <div class="avatar avatar-lg ">
                            <h1 class="mdi mdi-account-group"></h1>
                        </div>
                    </div>
                    <h3>Client Details </h3>
                </div>


            </div>
        </div>
    </div>
    <section class="pull-up">
        <div class="container">
            <div class="row ">
                <div class="col-lg-8 mx-auto  mt-2">
                    <div class="card py-3 m-b-30">
                        <div class="card-body">
                            <form>
                                <h3 class="">Client Info</h3>
                      
                                <div class="card-body ">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputText">Client Name:</label>
                                            <input type="text" class="form-control" id="inputText" placeholder="Enter Name">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">Email</label>
                                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputNumber">Phone No:</label>
                                            <input type="number" class="form-control" id="inputNumber">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputPassword">Password:</label>
                                            <input type="password" class="form-control" id="inputPassword">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="inputProfile">IsActive</label>
                                        <label class="cstm-switch">
                                            <input type="checkbox" checked="" name="option" value="1" class="cstm-switch-input">
                                            <span class="cstm-switch-indicator bg-success "></span>
                                            <span class="cstm-switch-description"></span>
                                        </label>

                                    </div>

                                    <div class="form-group">
                                        <button class="btn btn-primary">Submit</button>
                                        <button class="btn btn-success">Cancel</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>

    </section>



<div class="container col-12">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h3>Client List</h3>
                    </div>
                    <div class="table-responsive">
                        <table id="example-height" class="table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Client Name</th>
                                    <th>Email</th>
                                    <th>Phone No</th>
                                    <th>IsActive</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Jeel</td>
                                    <td>j@gmail.com</td>
                                    <td>8362829373</td>
                                    <td>Yes</td>
                                    <td>
                                        <button type="button" class="btn btn-sm m-b-15 ml-2 mr-2 btn-success">Edit</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-sm m-b-15 ml-2 mr-2 btn-danger">Delete</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Chicu</td>
                                    <td>d@gmail.com</td>
                                    <td>736274898</td>
                                    <td>Yes</td>
                                    <td>
                                        <button type="button" class="btn btn-sm m-b-15 ml-2 mr-2 btn-success">Edit</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-sm m-b-15 ml-2 mr-2 btn-danger">Delete</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Divya</td>
                                    <td>dd@gmail.com</td>
                                    <td>9574536728</td>
                                    <td>No</td>
                                    <td>
                                        <button type="button" class="btn btn-sm m-b-15 ml-2 mr-2 btn-success">Edit</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-sm m-b-15 ml-2 mr-2 btn-danger">Delete</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Jessie</td>
                                    <td>jg@gmail.com</td>
                                    <td>9578364789</td>
                                    <td>No</td>
                                    <td>
                                        <button type="button" class="btn btn-sm m-b-15 ml-2 mr-2 btn-success">Edit</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-sm m-b-15 ml-2 mr-2 btn-danger">Delete</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Chitrang</td>
                                    <td>dj@gmail.com</td>
                                    <td>8467356290</td>
                                    <td>Yes</td>
                                    <td>
                                        <button type="button" class="btn btn-sm m-b-15 ml-2 mr-2 btn-success">Edit</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-sm m-b-15 ml-2 mr-2 btn-danger">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>