@{
    ViewBag.Title = "Home Page";
}
    <section class="admin-content " id="contact-search">
        <div class="bg-dark m-b-30">
            <div class="container">
                <div class="row p-b-60 p-t-60">

                    <div class="col-md-6 text-center mx-auto text-white p-b-30">
                        <div class="m-b-10">
                            <div class="avatar ">
                                <h1 class="mdi mdi-view-dashboard "></h1>

                            </div>
                        </div>
                        <h3>My Dashboard </h3>
                        <div class="form-dark">

                        </div>

                    </div>


                </div>
            </div>
        </div>
        <section class="pull-up">
            <div class="container">
                <div class="row list">
                    <div class="col-lg-4 col-md-6">
                        <div class="card m-b-30">
                            <div class="card-header">

                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <div>
                                        <div class="">
                                            <h1 class="mdi mdi-tooltip-edit"></h1>
                                        </div>
                                    </div>
                                    <h3 class="p-t-10 searchBy-name">Studio Management</h3>
                                </div>
                                <div class="text-muted text-center m-b-10">
                                    <a class="btn btn-sm btn-white">View</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card m-b-30">
                            <div class="card-header">

                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <div>
                                        <div class="">
                                            <h1 class="mdi mdi-format-list-bulleted-type"></h1>
                                        </div>
                                    </div>
                                    <h3 class="p-t-10 searchBy-name">Category Details</h3>
                                </div>
                                <div class="text-muted text-center m-b-10">
                                    <a class="btn btn-sm btn-white">View</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card m-b-30">
                            <div class="card-header">

                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <div>
                                        <div class="">
                                            <h1 class="mdi mdi-image-multiple"></h1>
                                        </div>
                                    </div>
                                    <h3 class="p-t-10 searchBy-name">Gallery Management</h3>
                                </div>
                                <div class="text-muted text-center m-b-10">
                                    <a class="btn btn-sm btn-white">View</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card m-b-30">
                            <div class="card-header">

                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <div>
                                        <div class="">
                                            <h1 class="mdi mdi-camera-account"></h1>
                                        </div>
                                    </div>
                                    <h3 class="p-t-10 searchBy-name">Photographer Management</h3>
                                </div>
                                <div class="text-muted text-center m-b-10">
                                    <a class="btn btn-sm btn-white">View</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card m-b-30">
                            <div class="card-header">

                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <div>
                                        <div class="">
                                            <h1 class="mdi mdi-camera-party-mode"></h1>
                                        </div>
                                    </div>
                                    <h3 class="p-t-10 searchBy-name">Equipment Details</h3>
                                </div>
                                <div class="text-muted text-center m-b-10">
                                    <a class="btn btn-sm btn-white">View</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card m-b-30">
                            <div class="card-header">

                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <div>
                                        <div class="">
                                            <h1 class="mdi mdi-account-group"></h1>
                                        </div>
                                    </div>
                                    <h3 class="p-t-10 searchBy-name">Customer Details</h3>
                                </div>
                                <div class="text-muted text-center m-b-10">
                                    <a href="@Url.Action("Index", "Customer")" class="btn btn-sm btn-white">View</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card m-b-30">
                            <div class="card-header">

                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <div>
                                        <div class="">
                                            <h1 class="mdi mdi-package"></h1>
                                        </div>
                                    </div>
                                    <h3 class="p-t-10 searchBy-name">Package Summary</h3>
                                </div>
                                <div class="text-muted text-center m-b-10">
                                    <a class="btn btn-sm btn-white">View</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card m-b-30">
                            <div class="card-header">

                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <div>
                                        <div class="">
                                            <h1 class="mdi mdi-tag-faces"></h1>
                                        </div>
                                    </div>
                                    <h3 class="p-t-10 searchBy-name">Discount Summary</h3>
                                </div>
                                <div class="text-muted text-center m-b-10">
                                    <a class="btn btn-sm btn-white">View</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card m-b-30">
                            <div class="card-header">

                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <div>
                                        <div class="">
                                            <h1 class="mdi mdi-image-area"></h1>
                                        </div>
                                    </div>
                                    <h3 class="p-t-10 searchBy-name">Banner Setting</h3>
                                </div>
                                <div class="text-muted text-center m-b-10">
                                    <a class="btn btn-sm btn-white">View</a>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </section>
    </section>