
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="jumbo-page">

    <section class="admin-content ">
        <div class="bg-dark bg-dots m-b-30">
            <div class="container">
                <div class="row p-b-60 p-t-60">

                    <div class="col-lg-8 text-center mx-auto text-white p-b-30">
                        <div class="m-b-10">
                            <div class="p-b-20 text-center">
                                <p>
                                    <img src="/adminassets/img/logo3.png" width="40" alt="">

                                </p>
                                <p class="admin-brand-content">
                                    InstaAlbum
                                </p>
                            </div>
                            <h3 class="text-center p-b-20 fw-400">Login</h3>
                            <form class="needs-validation" action="#">
                                <div class="form-row">
                                    <div class="form-group floating-label col-md-5">
                                        <label>Email</label>
                                        <input type="email" required class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group floating-label col-md-5">
                                        <label>Password</label>
                                        <input type="password" required class="form-control" placeholder="Password">
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">Login</button>

                            </form>
                            <p class="text-right p-t-10">
                                <a href="#!" class="text-underline">Forgot Password?</a>
                            </p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        </section>




        <script src='../../d33wubrfki0l68.cloudfront.net/bundles/9556cd6744b0b19628598270bd385082cda6a269.js'></script>
        <!--page specific scripts for demo-->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66116118-3"></script>
        <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-66116118-3');</script>

</body>

