
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}

    <section id="gallery-list-section" class="gl-categories">
        <div class="container-fluid no-padding">
            <div class="isotope-wrap">
                <div class="isotope col-3">

                    <div class="isotope-items-wrap gli-alter-2">
                        <div class="grid-sizer"></div>
                        <div class="isotope-item iso-height-1">
                            <a href="gallery-list-grid-no-filter.html" class="gallery-list-item">
                                <div class="gl-item-image bg-image" style="background-image: url(../userassets/img/gallery/gallery-list/categories/gallery-cat-1.jpg); background-position: 50% 50%"></div>
                                <div class="gl-item-info">
                                    <div class="gl-item-caption">
                                        <h2 class="gl-item-title">Nature</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="isotope-item iso-height-1">
                            <a href="gallery-list-grid-no-filter.html" class="gallery-list-item">

                                <div class="gl-item-image bg-image" style="background-image: url(../userassets/img/gallery/gallery-list/categories/gallery-cat-2.jpg); background-position: 50% 50%"></div>

                                <div class="gl-item-info">
                                    <div class="gl-item-caption">
                                        <h2 class="gl-item-title">Portraits</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="isotope-item iso-height-1">
                            <a href="gallery-list-grid-no-filter.html" class="gallery-list-item">
                                <div class="gl-item-image bg-image" style="background-image: url(../userassets/img/gallery/gallery-list/categories/gallery-cat-3.jpg); background-position: 50% 50%"></div>
                                <div class="gl-item-info">
                                    <div class="gl-item-caption">
                                        <h2 class="gl-item-title">Fashion</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="isotope-item iso-height-1">
                            <a href="gallery-list-grid-no-filter.html" class="gallery-list-item">
                                <div class="gl-item-image bg-image" style="background-image: url(../userassets/img/gallery/gallery-list/categories/gallery-cat-4.jpg); background-position: 40% 50%"></div>
                                <div class="gl-item-info">
                                    <div class="gl-item-caption">
                                        <h2 class="gl-item-title">Outdoor</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="isotope-item iso-height-1">
                            <a href="gallery-list-grid-no-filter.html" class="gallery-list-item">
                                <div class="gl-item-image bg-image" style="background-image: url(../userassets/img/gallery/gallery-list/categories/gallery-cat-5.jpg); background-position: 50% 50%"></div>
                                <div class="gl-item-info">
                                    <div class="gl-item-caption">
                                        <h2 class="gl-item-title">Tattoos</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="isotope-item iso-height-1">
                            <a href="gallery-list-grid-no-filter.html" class="gallery-list-item">
                                <div class="gl-item-image bg-image" style="background-image: url(../userassets/img/gallery/gallery-list/categories/gallery-cat-6.jpg); background-position: 50% 50%"></div>
                                <div class="gl-item-info">
                                    <div class="gl-item-caption">
                                        <h2 class="gl-item-title">Nude</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="isotope-item iso-height-1">
                            <a href="gallery-list-grid-no-filter.html" class="gallery-list-item">
                                <div class="gl-item-image bg-image" style="background-image: url(../userassets/img/gallery/gallery-list/categories/gallery-cat-7.jpg); background-position: 50% 50%"></div>
                                <div class="gl-item-info">
                                    <div class="gl-item-caption">
                                        <h2 class="gl-item-title">People</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="isotope-item iso-height-1">
                            <a href="gallery-list-grid-no-filter.html" class="gallery-list-item">
                                <div class="gl-item-image bg-image" style="background-image: url(../userassets/img/gallery/gallery-list/categories/gallery-cat-8.jpg); background-position: 50% 50%"></div>
                                <div class="gl-item-info">
                                    <div class="gl-item-caption">
                                        <h2 class="gl-item-title">Streets</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="isotope-item iso-height-1">
                            <a href="gallery-list-grid-no-filter.html" class="gallery-list-item">
                                <div class="gl-item-image bg-image" style="background-image: url(../userassets/img/gallery/gallery-list/categories/gallery-cat-9.jpg); background-position: 50% 50%"></div>
                                <div class="gl-item-info">
                                    <div class="gl-item-caption">
                                        <h2 class="gl-item-title">Travel</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

