@model IEnumerable<InstaAlbum.Models.tblGallery>
@{
    ViewBag.Title = "CategoryWiseImage";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}

<script>
    function fnGetSelectedImages()
    {
        var checkedimageID = new Array();
        var UnCheckedimageID = new Array();

        // iterate all checkboxes and obtain their checked values, unchecked values are not pushed into array
        $('input[type=checkbox]').each(function () {
            this.checked ? checkedimageID.push($(this).val()) : UnCheckedimageID.push($(this).val());
        });
        

        // assume urldata is your web method to delete multiple records
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/UserHome/SaveSelectedImages/",
            data: JSON.stringify({ CheckedID: checkedimageID, UnCheckedID: UnCheckedimageID }), // used to convert array into proper JSON format
            dataType: "json",
            success: function (response)
            {
                if (response.success === true)
                {
                    toastr.success(
                        response.message,
                        'Images are saved successfully.',
                        {
                            timeOut: 1000,
                            fadeOut: 1000,
                            onHidden: function () {
                                window.location.reload();
                            }
                        }
                    );
                }
            },
            error: function (result) {
                toastr.error('Error occur', 'Error occur while saving images.', { timeOut: 1000 });
                return;
            }
        });
    }
</script>

<style>
    .checkbox {
        width: 23px;
        height: 21px;
        background: transparent url(http://i.stack.imgur.com/S4p2R.png ) no-repeat 0 50%
    }

    .checked {
        background: transparent url(http://i.stack.imgur.com/S4p2R.png ) no-repeat 80% 50%
    }
</style>
<section id="page-header">
    <div class="page-header-image parallax-3 bg-image" style="background-image: url(../../BannerImages/@ViewBag.BannerImage); background-position: 50% 50%;">
        <div class="cover bg-transparent-6-dark"></div>
    </div>
    
    <div class="page-header-caption fade-out-scroll-3 parallax-4">
        <h1 class="page-header-title font-alter-1"></h1>
        <button type="submit" onclick="javascript:fnGetSelectedImages()" class="btn btn-primary margin-top" style="width:200px;">Save Selected Images</button>
    </div>
</section>
<section id="gallery-single-section">
    <div class="container-fluid no-padding">
        <div class="isotope-wrap">
            <div class="isotope col-4 gutter-2">
                <div id="gallery" class="isotope-items-wrap lightgallery cover-color">
                    <div class="grid-sizer"></div>

                    @foreach (var item in Model)
                    {
                        <div class="isotope-item iso-height-1 ">
                        @if (item.IsSelected == true)
                        {
                            <input type="checkbox" checked value="@item.GalleryID" id="@item.GalleryID" /> <label class="">click to select</label>
                        }
                        else
                        {
                            <input type="checkbox" value="@item.GalleryID" id="@item.GalleryID" /> <label class="">click to select</label>
                        }

                        <a href="../../Gallery/@item.Image" class="gallery-single-item lg-trigger" data-exthumbnail="../../Gallery/@item.Image">
                            <div class="gs-item-image bg-image" style="background-image: url(../../Gallery/@item.Image); background-position: 50% 50%"></div>

                            <div class="gs-item-cover">
                                <div class="gs-item-info">
                                    <span class="s-icon"><i class="fa fa-search"></i></span>

                                </div>
                            </div>
                        </a>
                </div>
                    }
                </div>
                <center>
                    <button type="submit" onclick="javascript:fnGetSelectedImages()" class="btn btn-primary margin-top" style="width:200px;">Save Selected Images</button>
                </center>
            </div>
        </div> 
    </div> 
</section>
