@model IEnumerable<InstaAlbum.Models.tblParentCategory>
@{
    ViewBag.Title = "GalleryCategories";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}

<section id="page-header">
    <div class="page-header-image parallax-3 bg-image" style="background-image: url(../../BannerImages/@ViewBag.BannerImage); background-position: 50% 50%;">
        <div class="cover bg-transparent-6-dark"></div>
    </div>
    <div class="page-header-caption fade-out-scroll-3 parallax-4">
        <h1 class="page-header-title font-alter-1"></h1>
    </div>
</section>

<section id="gallery-list-section" class="gl-categories">
    <div class="container-fluid no-padding">
        <div class="isotope-wrap">
            <div class="isotope col-4 gutter-2">
                <div class="isotope-items-wrap gli-alter-2">
                    <div class="grid-sizer"></div>
                    @foreach (var item in Model)
                    {
                        <div class="isotope-item iso-height-1">
                            <a class="gallery-list-item" href="../UserHome/SubCategory/@item.ParentCategoryID">
                                <div class="gl-item-image bg-image" style="background-image: url(../ParentCategoryImages/@item.Image); background-position: 50% 50%"></div>
                                <div class="gl-item-info">
                                    <div class="gl-item-caption">
                                        <h2 class="gl-item-title">@item.ParentCategoryName</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

