@model IEnumerable<InstaAlbum.Models.tblBanner>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}


<section id="gallery-list-section" class="gallery-list-slideshow">
    <div class="container-fluid no-padding bg-dark">


        <div class="owl-carousel cc-height-full cursor-grab nav-bottom-right" data-items="1" data-loop="true" data-autoplay="true" data-autoplay-timeout="5000" data-dots="false" data-nav="true" data-animate-in="fadeIn" data-animate-out="fadeOut">

           @foreach (var item in Model)
           {
            <div class="cc-item bg-image" style="background-image:url(../BannerImages/@item.BannerImage); background-position: 50% 30%;">

                <span class="cover bg-transparent-2-dark"></span>

                <div class="cc-caption cc-caption-xlg center caption-animate max-width-600">
                    <h2 class="cc-title font-alter-1">@item.BannerHeading</h2>
                    <p class="cc-description">
                        @item.BannerDescription
                    </p>
                    <div class="margin-top-30">
                        <a href="@Url.Action("Login","Login")" class="btn btn-primary margin-top-5">LogIn</a>
                        <a href="@Url.Action("Contact","UserHome")" class="btn btn-white-bordered margin-top-5">Contact Me</a>
                    </div>
                </div>
            </div>
           }

        </div>

    </div>
</section>
