
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}


    <section id="gallery-list-section" class="gallery-list-slideshow">
        <div class="container-fluid no-padding bg-dark">


            <div class="owl-carousel cc-height-full cursor-grab nav-bottom-right" data-items="1" data-loop="true" data-autoplay="true" data-autoplay-timeout="5000" data-dots="false" data-nav="true" data-animate-in="fadeIn" data-animate-out="fadeOut">

                <!-- Begin carousel item
            ========================= -->
                <div class="cc-item bg-image" style="background-image:url(../BannerImages/gallery-slideshow-1.jpg); background-position: 50% 30%;">

                    <!-- Element cover -->
                    <span class="cover bg-transparent-2-dark"></span>

                    <!-- Begin caption
                ===================
                * Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right".
                * Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xl".
                -->
                    <div class="cc-caption cc-caption-xlg center caption-animate max-width-600">
                        <!-- max width class is optional -->
                        <h2 class="cc-title font-alter-1">Old Photos</h2>
                        <p class="cc-description">
                            Sed at placerat odio, duis leo dui, porta in rutrum sit amet consequat. Donec vu duis nullam nulla.
                        </p>
                        <div class="margin-top-30">
                            <a href="gallery-single.html" class="btn btn-primary margin-top-5">View Project</a>
                            <a href="contact.html" class="btn btn-white-bordered margin-top-5">Contact Me</a>
                        </div>
                    </div>
                    <!-- End caption -->

                </div>
                <!-- End carousel item -->
                <!-- Begin carousel item
            ========================= -->
                <div class="cc-item bg-image" style="background-image: url(../BannerImages/gallery-slideshow-2.jpg); background-position: 50% 50%;">

                    <!-- Element cover -->
                    <span class="cover bg-transparent-2-dark"></span>

                    <!-- Begin caption
                ===================
                * Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right".
                * Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xl".
                -->
                    <div class="cc-caption cc-caption-xlg center caption-animate max-width-600">
                        <!-- max width class is optional -->
                        <h2 class="cc-title font-alter-1">Mother Nature</h2>
                        <p class="cc-description">
                            Sed at placerat odio, duis leo dui, porta in rutrum sit amet consequat. Donec vu duis nullam nulla.
                        </p>
                        <div class="margin-top-30">
                            <a href="gallery-single.html" class="btn btn-primary margin-top-5">View Project</a>
                            <a href="contact.html" class="btn btn-white-bordered margin-top-5">Contact Me</a>
                        </div>
                    </div>
                    <!-- End caption -->

                </div>
                <!-- End carousel item -->
                <!-- Begin carousel item
            ========================= -->
                <div class="cc-item bg-image" style="background-image: url(../BannerImages/gallery-slideshow-3.jpg); background-position: 50% 50%;">

                    <!-- Element cover -->
                    <span class="cover bg-transparent-2-dark"></span>
                    <div class="cc-caption cc-caption-xlg center caption-animate max-width-600">
                        <!-- max width class is optional -->
                        <h2 class="cc-title font-alter-1">Fashion Photo Shoot</h2>
                        <p class="cc-description">
                            Sed at placerat odio, duis leo dui, porta in rutrum sit amet consequat. Donec vu duis nullam nulla.
                        </p>
                        <div class="margin-top-30">
                            <a href="gallery-single.html" class="btn btn-primary margin-top-5">View Project</a>
                            <a href="contact.html" class="btn btn-white-bordered margin-top-5">Contact Me</a>
                        </div>
                    </div>
                    <!-- End caption -->

                </div>
                <!-- End carousel item -->
                <!-- Begin carousel item
            ========================= -->
                <div class="cc-item bg-image" style="background-image: url(../BannerImages/gallery-slideshow-4.jpg); background-position: 50% 50%;">

                    <!-- Element cover -->
                    <span class="cover bg-transparent-2-dark"></span>

                    <!-- Begin caption
                ===================
                * Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right".
                * Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xl".
                -->
                    <div class="cc-caption cc-caption-xlg center caption-animate max-width-600">
                        <!-- max width class is optional -->
                        <h2 class="cc-title font-alter-1">Black &amp; White</h2>
                        <p class="cc-description">
                            Sed at placerat odio, duis leo dui, porta in rutrum sit amet consequat. Donec vu duis nullam nulla.
                        </p>
                        <div class="margin-top-30">
                            <a href="gallery-single.html" class="btn btn-primary margin-top-5">View Project</a>
                            <a href="contact.html" class="btn btn-white-bordered margin-top-5">Contact Me</a>
                        </div>
                    </div>
                    <!-- End caption -->

                </div>

            </div>

        </div>
        </section>
