
@{
    ViewBag.Title = "SubCategory";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}
<section id="page-header">
    <div class="page-header-image parallax-3 bg-image" style="background-image: url(../userassets/img/misc/page-header-bg-2.jpg); background-position: 50% 50%;">
        <div class="cover bg-transparent-6-dark"></div>
    </div>
    <div class="page-header-caption fade-out-scroll-3 parallax-4">
        <h1 class="page-header-title font-alter-1">Outdoor</h1>
        <h2 class="page-header-sub-title">
            Albums list without filter
        </h2>
    </div>
</section>

<section id="gallery-list-section">
    <div class="container-fluid no-padding">
        <div class="isotope-wrap">
            <div class="isotope col-4 gutter-2">
                <div class="isotope-items-wrap">
                    <div class="grid-sizer"></div>
                    <div class="isotope-item iso-height-1">
                        <a href="gallery-single.html" class="gallery-list-item">
                            <div class="gl-item-image bg-image" style="background-image: url(../userassets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"></div>
                            <div class="gl-item-info">
                                <div class="gl-item-caption">
                                    <h2 class="gl-item-title">African Natural Parks</h2>
                                    <span class="gl-item-category">Outdoor</span>
                                </div>
                                <span class="gl-item-count" title="Pictures count"><i class="fa fa-camera"></i> 21</span>
                            </div>
                        </a>
                    </div>
                    <div class="isotope-item iso-height-1">
                        <a href="gallery-single.html" class="gallery-list-item">
                            <div class="gl-item-image bg-image" style="background-image: url(../userassets/img/gallery/gallery-list/gallery-list-2.jpg); background-position: 50% 50%"></div>
                            <div class="gl-item-info">
                                <div class="gl-item-caption">
                                    <h2 class="gl-item-title">These Wonderful Freckles</h2>
                                    <span class="gl-item-category">Black &amp; White</span>
                                </div>
                                <span class="gl-item-count" title="Pictures count"><i class="fa fa-camera"></i> 43</span>
                            </div>
                        </a>
                    </div>
                    <div class="isotope-item iso-height-1">
                        <a href="gallery-single.html" class="gallery-list-item">
                            <div class="gl-item-image bg-image" style="background-image: url(../userassets/img/gallery/gallery-list/gallery-list-3.jpg); background-position: 50% 50%"></div>
                            <div class="gl-item-info">
                                <div class="gl-item-caption">
                                    <h2 class="gl-item-title">Paris Fashion Week</h2>
                                    <span class="gl-item-category">Fashion</span>
                                </div>
                                <span class="gl-item-count" title="Pictures count"><i class="fa fa-camera"></i> 117</span>
                            </div>
                        </a>
                    </div>
                    <div class="isotope-item iso-height-1">
                        <a href="gallery-single.html" class="gallery-list-item">
                            <div class="gl-item-image bg-image" style="background-image: url(../userassets/img/gallery/gallery-list/gallery-list-4.jpg); background-position: 40% 50%"></div>
                            <div class="gl-item-info">
                                <div class="gl-item-caption">
                                    <h2 class="gl-item-title">Afternoon Photoshoot</h2>
                                    <span class="gl-item-category">Outdoor</span>
                                </div>
                                <span class="gl-item-count" title="Pictures count"><i class="fa fa-camera"></i> 9</span>
                            </div>
                        </a>
                    </div>
                    <div class="isotope-item iso-height-1">
                        <a href="gallery-single.html" class="gallery-list-item">
                            <div class="gl-item-image bg-image" style="background-image: url(../userassets/img/gallery/gallery-list/gallery-list-5.jpg); background-position: 50% 50%"></div>
                            <div class="gl-item-info">
                                <div class="gl-item-caption">
                                    <h2 class="gl-item-title">Sit Back and Relax</h2>
                                    <span class="gl-item-category">Portraits</span>
                                </div>
                                <span class="gl-item-count" title="Pictures count"><i class="fa fa-camera"></i> 237</span>
                            </div>
                        </a>
                    </div>
                    <div class="isotope-item iso-height-1">
                        <a href="gallery-single.html" class="gallery-list-item">
                            <div class="gl-item-image bg-image" style="background-image: url(../userassets/img/gallery/gallery-list/gallery-list-6.jpg); background-position: 50% 50%"></div>
                            <div class="gl-item-info">
                                <div class="gl-item-caption">
                                    <h2 class="gl-item-title">Something In The Water vol.2</h2>
                                    <span class="gl-item-category">Fashion, Outdoor</span>
                                </div>
                                <span class="gl-item-count" title="Pictures count"><i class="fa fa-camera"></i> 31</span>
                            </div>
                        </a>
                    </div>
                    <div class="isotope-item iso-height-1">
                        <a href="gallery-single.html" class="gallery-list-item">
                            <div class="gl-item-image bg-image" style="background-image: url(../userassets/img/gallery/gallery-list/gallery-list-7.jpg); background-position: 50% 50%"></div>
                            <div class="gl-item-info">
                                <div class="gl-item-caption">
                                    <h2 class="gl-item-title">Autumn Nights</h2>
                                    <span class="gl-item-category">Outdoor</span>
                                </div>
                                <span class="gl-item-count" title="Pictures count"><i class="fa fa-camera"></i> 18</span>
                            </div>
                        </a>
                    </div>
                    <div class="isotope-item iso-height-1">
                        <a href="gallery-single.html" class="gallery-list-item">
                            <div class="gl-item-image bg-image" style="background-image: url(../userassets/img/gallery/gallery-list/gallery-list-8.jpg); background-position: 50% 50%"></div>
                            <div class="gl-item-info">
                                <div class="gl-item-caption">
                                    <h2 class="gl-item-title">Beauty &amp; Fashion</h2>
                                    <span class="gl-item-category">Fashion</span>
                                </div>
                                <span class="gl-item-count" title="Pictures count"><i class="fa fa-camera"></i> 177</span>
                            </div>
                        </a>
                    </div>
                    <div class="isotope-item iso-height-1">
                        <a href="gallery-single.html" class="gallery-list-item">
                            <div class="gl-item-image bg-image" style="background-image: url(../userassets/img/gallery/gallery-list/gallery-list-9.jpg); background-position: 50% 50%"></div>
                            <div class="gl-item-info">
                                <div class="gl-item-caption">
                                    <h2 class="gl-item-title">No Colors This Time</h2>
                                    <span class="gl-item-category">Black &amp; White</span>
                                </div>
                                <span class="gl-item-count" title="Pictures count"><i class="fa fa-camera"></i> 225</span>
                            </div>
                        </a>
                    </div>
                    <div class="isotope-item iso-height-1">
                        <a href="gallery-single.html" class="gallery-list-item">
                            <div class="gl-item-image bg-image" style="background-image: url(../userassets/img/gallery/gallery-list/gallery-list-10.jpg); background-position: 50% 50%"></div>
                            <div class="gl-item-info">
                                <div class="gl-item-caption">
                                    <h2 class="gl-item-title">Monday's Monochromes</h2>
                                    <span class="gl-item-category">Outdoor</span>
                                </div>
                                <span class="gl-item-count" title="Pictures count"><i class="fa fa-camera"></i> 36</span>
                            </div>
                        </a>
                    </div>
                    <div class="isotope-item iso-height-1">
                        <a href="gallery-single.html" class="gallery-list-item">
                            <div class="gl-item-image bg-image" style="background-image: url(../userassets/img/gallery/gallery-list/gallery-list-11.jpg); background-position: 50% 50%"></div>
                            <div class="gl-item-info">
                                <div class="gl-item-caption">
                                    <h2 class="gl-item-title">Something In The Water</h2>
                                    <span class="gl-item-category">Fashion, Portraits</span>
                                </div>
                                <span class="gl-item-count" title="Pictures count"><i class="fa fa-camera"></i> 83</span>
                            </div>
                        </a>
                    </div>
                    <div class="isotope-item iso-height-1">
                        <a href="gallery-single.html" class="gallery-list-item">
                            <div class="gl-item-image bg-image" style="background-image: url(../userassets/img/gallery/gallery-list/gallery-list-12.jpg); background-position: 50% 50%"></div>
                            <div class="gl-item-info">
                                <div class="gl-item-caption">
                                    <h2 class="gl-item-title">Almost Naked</h2>
                                    <span class="gl-item-category">Outdoor, Fashion</span>
                                </div>
                                <span class="gl-item-count" title="Pictures count"><i class="fa fa-camera"></i> 24</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


